@charset "utf-8";

.main_body {
	background-color:  	#FFFFFF;
}
.page_table{
	/*
	Used for table which contains all page components. class will used only one time
	*/
	width:200px;border:0; 
	min-height: 600px;
	text-align: left;
	margin-bottom: 12%;
}

.odd_row{
	/*
	Used for odd row of questions datatable 
	*/
	color: #000000;  
	background-color: 	#F2F2F2 ; 
	font-family: Verdana, Arial, Sans-Serif; font-size:12px; 
}
.even_row{
	/*
	Used for even row of questions datatable
	*/
	color: #000000;  
	background-color: #D9D9D9;
	font-family: Verdana, Arial, Sans-Serif; font-size:12px; 
}
.error_msg {
	/*
	Style to error messages
	*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: darkgray;        
	vertical-align: middle;
	list-style: url("../images/errorpage/error_icon.gif")  ;
	padding-left: 10px;
}

.warning_msg {
	/*
	Style to warning messages
	*/
	FONT-SIZE: 14px; COLOR: #ff000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.info_msg {
	/*
	Style to information messages
	*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: blue;
	list-style: url("../images/errorpage/information_icon.gif")   ;
	padding-left: 10px;
}

BODY
{
	font-size: 12px
}

INPUT 
{
	font-size: 12px	
}

OUTPUT 
{
	font-size: 12px	
}

A
{
	font-size: 12px	
}

P
{
	font-size: 12px	
}

.left_manu_item
{
	color: #FFFFFF; 
	text-decoration: none;
}


.logo_image
{
	width:70px;
}

.icon_image
{
	width:40px;
}

.profile_image
{
	width:40px;
}


.login_panel
{
	border-bottom-style: none; 
	border-top-style: none; 
	border-left-style: none; 
	border-right-style: none;
	cellpadding:2;
	cellspacing:4;
	
}